
@{
    ViewData["Title"] = "Bing Maps Community - Pogo Rent 3000";
}
<div id="map"></div>
<script type="text/javascript">
    var url = window.location.protocol + "//" + window.location.host + "/article1.html";
    window.location.href = url;
</script>
@*<environment>
    <script type="text/javascript" src="http://www.bing.com/api/maps/mapcontrol?branch=release" async defer></script>
    <script src="~/lib/pogorent3000.js"></script>
</environment>*@

