<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <environment>
        <script src="~/lib/pogorent3000.js"></script>
        <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release' async defer></script>
    </environment>
</body>
</html>
